/**
Coordinator Dashboard Styling
 */

.totalBoxes {
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 20, 0.3, 0, 4);
}

#header {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 20, 0.3, 0, 2);
}

/**
Card / Event Styling
 */

#card {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 20, 0.3, 0, 4);
}

#cardHeader {
    -fx-background-color: linear-gradient(to right, #B5BBFF, #F9F5FFFF);
    -fx-background-radius: 15 15 0 0;
}

#cardLowerHalf {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0 0 15 15;
}

#cardTicketsIssued {
    -fx-background-color: #F9FAFB;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 5,0.3, 0, 1);
}